body{
	margin:0;
	font-family:Helvetica, Arial;
	font-size:small;
}



#logo {
	/*height:141px;
	width:385px;*/
	padding-top:112px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    clear:both;
}

.main-wrapper {
	padding-bottom: 50px;
	
}

#search-form, #search-form input {
	
	height:20px;
	width:460px;
	margin: 10px auto 10px auto;
	text-align: center;

}

#search-btns {
	text-align: center;
}
#search-form button {
	background-color: #46b045;
	
	background-size: auto;
	border: 1px solid rgba(0, 0, 0, 0.0980392);
	border-radius: 2px;	
	font-size: 1em;
	font-weight: bold;	
	color:#000;
	margin: .5em;
	padding-top: .5em;
	padding-bottom: .7em;
}

#search-results {
	width: 651px;
	height: 200px;
	background-color: #f2f2f2;
	margin-top: 100px;
	marrgin-bottom: 140px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	padding-top: 15px;
	line-height: 40px;
	overflow: hidden;
	text-align: start;
}
.result-box {
	display: inline-block;
	width: 140px;
	height: 85px;
	background-color: grey;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	vertical-align: top;
}

img {
	padding: 0 22px 0 20px;
}


